table {
  align-items: center;
  text-align: center;
  margin: 10px auto 0 auto;
}
thead {
  background-color: skyblue;
}
tbody {
  background-color: lightgrey;
}
td {
  max-width: 200px;
}
.app-container {
  border: solid black 2px;
  text-align: center;
  min-height: 700px;
  background-color: cadetblue;
  border-radius: 10px;
}
